@inherits LayoutComponentBase
@using FlowmodoroTimer.Components

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article>
            <button @onclick="TogglePopup">
                <span class="bi bi-list" aria-hidden="true"></span> Menu
            </button>
            @Body
        </article>
    </main>

    <PopupMenu IsVisible="@showPopup" OnClose="ClosePopup" />
</div>

@code {
    private bool showPopup = false;

    private void TogglePopup()
    {
        showPopup = !showPopup;
    }

    private void ClosePopup()
    {
        showPopup = false;
    }
}
