@page "/"
@using FlowmodoroTimer.Services

<PageTitle>flowmodoro</PageTitle>

<h1 class="title">flowmodoro</h1>

<p class="desc">flowmodoro is an upgraded version of pomodoro. it works by evelating your flowstate and giving you a normal time of break.</p>

<style>

.desc {
    text-align: center;
    font-size: 1rem;
    color: #000000;
    margin-top: 1rem;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    background: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
</style>


@code {

}